* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.done-icon {
    color: white !important;
    font-size: 16px !important;
    background-color: rgb(11, 167, 81);
    padding: 2px+;
    display: none;
}

#main {
    .container {
        background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
        height: 1000px;
        .cover {
            max-width: 500px;
            height: 100%;
            margin: 0 auto;
            padding: 20px 30px;
            background-color: #fff;

            .header {
                h1 {
                    text-align: center;
                    font-size: 25px;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }
            }

            .add-todo {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;

                input {
                    width: 100%;
                    height: 40px;
                    padding: 10px 20px;
                    font-size: 18px;
                    margin-right: 5px;
                    text-align: center;
                    border: 2px solid #000;
                    -webkit-transition: 0.3s;
                    transition: 0.5s;
                    outline: none;
                    border-radius: 5px;
                }

                input:focus {
                    border: 3px solid #FBA834;
                }

                button {
                    width: 55px;
                    height: 40px;
                    background-color: #333A73;
                    border: none;
                    color: #fff;
                    font-size: 30px;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }

            .todoList {
                h3 {
                    color: rgba(0, 0, 0, 0.4);
                    text-align: center;
                    font-size: 15px;
                    display: none;
                }
                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 8px 10px;
                    background-color: rgba(94, 197, 223, 0.3);
                    border-top: 0.7px solid #ccc;
                    border-bottom: 0.7px solid #ccc;

                    .left {
                        display: flex;
                        align-items: center;
                        width: 80%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        input {
                            width: 18px;
                            height: 18px;
                        }

                        p {
                            margin-left: 10px;
                            font-weight: 500;
                        }

                        p[contenteditable]:focus {
                            border: 1px solid blue !important;
                            width: 100%;
                            // background-color: #c86dd7;
                        }

                        .done {
                            text-decoration: line-through;
                            opacity: 0.7;
                            font-weight: 400;
                        }
                    }

                    .right {
                        display: flex;
                        align-items: center;

                        i {
                            font-size: 14px;
                            color: rgba(94, 197, 223, 0.7);
                            margin-left: 10px;
                            cursor: pointer;
                        }

                        .edit {
                            font-size: 12px;
                        }
                    }
                }
            }
            .footer {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                height: 30px;
                .left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                    height: 100%;
                    border: 0.5px solid #ccc;
                    text-align: center;
                    // background: linear-gradient(to right, #FFF455 30%, #ffffff 30%);
                }

                .right {
                    display: flex;
                    align-items: center;
                    color: #fff;
                    background-color: #333A73;
                    padding: 0 10px;
                    cursor: pointer;
                    p {
                        margin-left: 5px;
                    }

                    i {
                        font-size: 14px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .cover {
        // background-image: linear-gradient(0deg, #ee9ca7, #ffdde1);
    }
}